@import url('reset.css');

body {
	overflow: hidden;
}



#blob {
	width: 1395px;
    height: 1457px;
    position: absolute;
    top: -38em;
    left: -45rem;
    z-index: -1;
    background-image: url('../images/blob_shape.png');
    background-size: cover;
    background-position: center;
}

#cyno_auth_image {
	background: url('../images/cyno_login.png');
	background-size: cover;
	width: 500px;
	height: 400px;
}